{% extends '@JadobDashboard/base.html.twig' %}
{% set page_title = 'List objects' %}
{% set page_header = object_fqcn|split('\\')|last %}
{% set page_subheader %}
    Page <strong>{{ current_page }}/{{ pages_count }}</strong>, <strong>{{ results_per_page }}</strong> objects per page
{% endset %}
{% set dashboard_name = 'crud-list' %}
{% block content %}
    <div class="container mx-auto">
        <a href="{{ dashboard_path_object_new(object_fqcn) }}"
           class="text-gray-300 bg-gray-800 hover:bg-gray-400 hover:text-white px-3 py-2 mr-2 rounded-md text-base font-medium">
            + Add new
        </a>
        <a href="{{ dashboard_path_object_import(object_fqcn) }}"
           class="text-gray-300 bg-gray-800 hover:bg-gray-400 hover:text-white px-3 py-2 mr-2 rounded-md text-base font-medium">
            Bulk Import
        </a>

        <div class="float-right">
            {% if current_page - 1 > 0 %}
                <a href="{{ dashboard_path_object_list(object_fqcn, current_page-1) }}"
                   class="text-gray-300 bg-gray-800 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-base font-medium">
                    &lt; Previous page
                </a>
            {% endif %}

            {% if current_page + 1 <= pages_count %}
                <a href="{{ dashboard_path_object_list(object_fqcn, current_page+1) }}"
                   class="text-gray-300 bg-gray-800 hover:bg-gray-400 hover:text-white px-3 py-2 ml-2 rounded-md text-base font-medium">
                    Next Page &gt;
                </a>
            {% endif %}
        </div>
    </div>

    <div class="container my-3">
        <table class="border-collapse w-full">
            <thead>
            <tr>
                {% for f in fields %}
                    <th class="p-3 font-bold bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                        {{ f }}
                    </th>
                {% endfor %}
                {% if operations|length > 0 %}
                <th class="p-3 font-bold bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                    Operations
                </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for obj in list %}
            <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                {% for f in fields %}
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
{#                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"></span>#}
                    {{ obj[f] }}
                </td>
                {% endfor %}
                {% if operations|length > 0 %}
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        {% for operation in operations %}
                            <a href="{{ dashboard_path_object_operation(object_fqcn, obj.id, operation.name) }}" class="text-gray-500 font-bold text-xs hover:text-gray-800 focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
                                {{ operation.label|trans }}
                            </a>

                        {% endfor %}
                    </td>
                {% endif %}

            </tr>
            {% endfor %}


            </tbody>
        </table>
    <div class="container mx-auto">
        <div class="float-right">
            {% if current_page - 1 > 0 %}
                <a href="{{ dashboard_path_object_list(object_fqcn, current_page-1) }}"
                   class="text-gray-300 bg-gray-800 hover:bg-gray-400 hover:text-white px-3 py-2 rounded-md text-base font-medium">
                    &lt; Previous page
                </a>
            {% endif %}

            {% if current_page + 1 <= pages_count %}
                <a href="{{ dashboard_path_object_list(object_fqcn, current_page+1) }}"
                   class="text-gray-300 bg-gray-800 hover:bg-gray-400 hover:text-white px-3 py-2 ml-2 rounded-md text-base font-medium">
                    Next Page &gt;
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}